:root {
  --c-deep: #184c5a;
  --c-ice: #c6e1e3;
  --c-lime: #ecffc0;
  --c-coral: #f88756;

  --font-base: "Helvetica Neue", Helvetica, Arial, system-ui, -apple-system, "Segoe UI",
    Roboto, sans-serif;
}

html,
body {
  font-family: var(--font-base);
}

