#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.popup {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px; 
  border-radius: 36px;
}       

.logoAnimatedSmall {
  width: 250px;
  height: auto;
}

.primaryButton {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid #184C5A;
  opacity:0.8;
  cursor: pointer;
  position: relative;
  background-color: #ECFFC0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.primaryButton:after {
  content: "";
  background-color: #184C5A;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.primaryButton:hover:after {
  top: 0px;
  left: 0px;
  box-shadow: inset 0 0 4px 5px rgba(0, 0, 0, 0.3);
}


@keyframes lumi-bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
}

.logos {
  position: fixed;
  right: 16px;
  bottom: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.heroAnimated {
  width: 220px;
  height: auto;
}

.logo {
  height: 6em;
  padding: 1.5em;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #54bc4ae0);
}
.logo.preact:hover {
  filter: drop-shadow(0 0 2em #673ab8aa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
